<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/backwards.css">
    <script type="text/javascript">
        document.createElement('header'); //this script forces old browsers like IE 6 to create HTML5 elements
        document.createElement('footer'); //this makes your project java script dependant but at least old
        document.createElement('nav'); // browsers will render the code correctly
        document.createElement('meter');
        document.createElement('progress');
    </script>
    <style> body { padding-top: 60px; } </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Programming assignment 2</a>
                <nav class="nav-collapse collapse">
                    {% if user.is_authenticated %}
                     <ul class="nav">
                    <li><a href="/accounts/logout">Logout</a></li>
                    </ul>
                    {% endif %}
                </nav>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}

    <h2>Welcome {{ user.username }}</h2>
    You have to be either a student or a teacher!
    {% endblock %}

</div>

</body>
</html>
