@{
    Layout = "";
}
<!DOCTYPE html>
<html ng-app="Prog5">
<head>
    <title>Programming assignment 5</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-view>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script src="Content/js/prog5.js"></script>
    <script src="Content/js/LectureListController.js"></script>
    <script src="Content/js/LectureController.js"></script>

</body>
</html>