<h2>
  Welcome {{UserFullName}}
</h2>
<form class="form-inline" ng-show="isTeacher">
  <input ng-show="isTeacher" type="text" ng-model="newLecture.Name" class="input-small" placeholder="Lecture name" required/>
  <input ng-show="isTeacher" type="text" ng-model="newLecture.LectureURL" class="input-small" placeholder="YouTube URL" required/>
  <button ng-show="isTeacher" ng-click="addLecture()" class="btn btn-primary">
    Create lecture
  </button>
</form>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Lecture
      </th>
      <th>
        Teacher
      </th>
      <th>
        Created on
      </th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="lecture in lectures" ng-click="viewlecture(lecture.ID)">
      <td id="lecturelink" ng-click="viewlecture(lecture.ID)">
        <a href="" >
          {{lecture.Name}}
        </a>
      </td>
        <td>
          {{lecture.TeacherName}}
      </td>
         <td id="date">
          {{ lecture.PublishedDate}}
      </td>
      </tr>
  </tbody>
</table>

<form method="post" action="/Account/LogOff">
<button class="btn btn-primary" type="submit">
  &lt; Logout
</button>
    </form>
